
@import "./variables.scss";

@import "./mixins.scss";


// GENERIC SCSS STYLES

body{
    background-color: $fifth-color;
    position: relative;
}

.main__container{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.main__section{
    @include outside-containers();
}

@import "./modal.scss";

@import "./header.scss";

@import "./home.scss";

@import "./section.scss";

@import "./login.scss";

@import "./notFound.scss";

